<% assignments.each do |assignment| %>
    <% project = assignment.project %>

    <%= content_tag_for :section, assignment do %>
        <header>
          <h3><%= project.name %></h3>
        </header>

        <div class="row">
          <div class="col-xs-3">Customer:</div>
          <div class="col-xs-9"><%= project.customer %></div>
        </div>
        <div class="row">
          <div class="col-xs-3">Provider:</div>
          <div class="col-xs-9"><%= project.provider %></div>
        </div>
        <div class="row">
          <div class="col-xs-3">Role:</div>
          <div class="col-xs-9"><%= assignment.role %></div>
        </div>
        <div class="row">
          <div class="col-xs-3">Team:</div>
          <div class="col-xs-9"><%= project.team %></div>
        </div>
        <div class="row">
          <div class="col-xs-3">Involvement Duration:</div>
          <div class="col-xs-9"><%= duration_in_words(assignment.since, assignment.till) %></div>
        </div>
        <div class="row">
          <div class="col-sm-3">Project Description:</div>
          <div class="col-sm-9"><%= project.description %></div>
        </div>
        <div class="row">
          <div class="col-sm-3">Responsibilities:</div>
          <div class="col-sm-9"><%= assignment.description %></div>
        </div>
        <div class="row">
          <div class="col-sm-3">Tools & Technologies:</div>
          <div class="col-sm-9">

            <div class="hidden-print hidden-xs">
              <%= render 'assignments/skills_in_groups', assignment: assignment %>
            </div>

            <div class="hidden-sm hidden-md hidden-lg">
              <%= render 'assignments/skills_in_text', assignment: assignment %>
            </div>

          </div>
        </div>

    <% end %>

<% end %>