<h1><%= @assignment.role %> in <%= @assignment.project %></h1>
<table class="table">
  <tr>
    <th>Duration:</th>
    <td><%= @assignment.since %> &mdash; <%= @assignment.till %></td>
  </tr>
  <tr>
    <th>Employer:</th>
    <td><%= @assignment.project.provider %></td>
  </tr>
</table>



<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
