<h1>Jobs</h1>

<div class="btn-group pull-right">
    <%= link_to 'All', jobs_path, class: "btn btn-default " + (params[:type_name] ? 'btn-default' : 'btn-primary') %>
<% Job.types.each do |type| %>
    <%= link_to type, jobs_type_path(type), class: "btn " + (params[:type_name] == type ? 'btn-primary' : 'btn-default') %>
<% end %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Since</th>
      <th>Till</th>
      <th>Company</th>
      <th>Person</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.type %></td>
        <td><%= job.title %></td>
        <td><%= job.since %></td>
        <td><%= job.till %></td>
        <td><%= job.company %></td>
        <td><%= job.person %></td>
        <td class="controls">
          <%= link_to 'Edit', edit_job_path(job), class: 'btn btn-default' %>
          <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
