<%= content_tag_for :li, skill, class: 'item list-group-item' do %>

    <div class="row">
      <div class="name col-lg-6">
        <span class="icon-<%= skill.slug %>"></span>
        <%= skill.name %>
      </div>

      <div class="col-lg-2">
        <%= skill.slug %>
      </div>

      <div class="col-lg-4">
        <div class="controls pull-right">
          <%= link_to 'Edit', edit_skill_category_skill_path(skill.skill_category, skill), remote: true, class: 'btn btn-default' %>
          <%= link_to 'Destroy', skill_category_skill_path(skill.skill_category, skill), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-default' %>
        </div>
      </div>
    </div>

<% end %>