<% title 'CV' %>
<% content_for :header, 'Oleksiy Zelenyuk\'s CV' %>
<% content_for :sidebar do %>
    <nav class="sidebar-menu" data-spy="affix" data-offset-top="200" data-offset-bottom="0">
      <ul class="nav">
        <li>
          <a href="#summary-of-qualifications">
            Summary of Qualifications</a>
        </li>
        <li>
          <a href="#skills">
            Skills in details
          </a>
        </li>
        <li>
          <a href="#employment-history">
            Employment history
          </a>

        </li>
        <li>
          <a href="#education">
            Education
          </a>
        </li>
        <li>
          <a href="#projects-experience">
            Project Experience
          </a>
          <ul class="nav">
            <% @site_owner.assignments.latest.each do |assignment| %>
                <li><a href="#assignment_<%= assignment.id %>"><%= assignment.project.name %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </nav>
<% end %>

<% @page_id = 'cv' %>

<section class="cv-section" id="summary-of-qualifications">
  <header class="row">
    <h2 class="col-xs-12"> Summary of Qualifications <span class="icon icon-skill-summary"></span>
    </h2>
  </header>

  <%= markdown @site_owner.summary %>
</section>

<section class="cv-section" id="skills">
  <header class="row">
    <h2 class="col-xs-12"> Skills in details <span class="icon icon-skills"></span> </h2>
  </header>
  <%= render 'skills/skill_summary', categories: @skill_cats, skills: @skill_sum %>
</section>

<section class="cv-section" id="employment-history">
  <header class="row">
    <h2 class="col-xs-12"> Employment history <span class="icon icon-skills"></span> </h2>
  </header>

  <header class="row table-header hidden-xs">
    <div class="col-sm-9">Company</div>
    <div class="col-sm-3">Duration</div>
  </header>

  <%= render 'companies/summary', companies: @site_owner.employers %>

</section>

<section class="cv-section" id="education">
    <header class="row">
        <h2 class="col-xs-12"> Education <span class="icon icon-education"></span> </h2>
    </header>

  <h3>Degree</h3>

    <header class="row table-header hidden-xs">
        <div class="col-sm-9">School</div>
        <div class="col-sm-3">Duration</div>
    </header>

  <%= render 'companies/summary', companies: @site_owner.schools %>

  <h3>Languages</h3>

  <%= render 'skills/language_summary', languages: @skill_sum %>

  <h3>Certifications</h3>

    <header class="row table-header">
        <div class="col-xs-9">Certificate</div>
        <div class="col-xs-3">Year</div>
    </header>

    <% Certification.all.each do |cert| %>
      <div class="row">
        <div class="col-xs-9"><%= cert.name %></div>
        <div class="col-xs-3"><%= cert.year %></div>
      </div>
    <% end %>

</section>

<section class="cv-section" id="projects-experience">
    <header class="row">
        <h2 class="col-xs-12"> Project Experience <span class="icon icon-experience"></span> </h2>
    </header>

  <%= render 'assignments/summary', assignments: @site_owner.assignments %>

</section>