
<% content_for :sidebar do %>
    <div class="key">Started:</div>
    <div class="value"><%= @project.started %></div>

    <div class="key">Released:</div>
    <div class="value"><%= @project.finished %></div>

    <div class="key">Provided by:</div>
    <div class="value"><%= @project.provider %></div>

    <div class="key">Customer:</div>
    <div class="value"><%= @project.customer %></div>

    <div class="key">Team:</div>
    <div class="value"><%= @project.team %></div>
<% end %>

<%= content_for :header, @project.name %>

<div class="description">
  <%= @project.description %>
</div>

<br/>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
