<%= content_tag_for :tr, experience do %>
    <td><%= experience %></td>
    <td><%= experience.rate %></td>
    <td><%= experience.days %></td>
    <td><%= experience.description %></td>
    <td class="controls">
      <%= link_to 'Edit', edit_assignment_experience_path(@assignment, experience), remote: true, class: 'btn btn-default' %>
      <%= link_to 'Delete', [@assignment, experience], method: :delete, remote: true, class: 'btn btn-default' %>
    </td>
<% end %>