<p>
  <strong>
    <%= address.addressable %>
  </strong>
</p>

<p>
  <%= address.address %>
</p>

<p>
  <%= address.city %>
</p>

<p>
  <%= address.country %>
</p>

<p>
  <%= address.phone %>
</p>

<p>
  <%= address.website %>
</p>

<p>
  <%= address.email %>
</p>