<!DOCTYPE html>
<html>
<head>
  <title>Zport</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="cover">

<header class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Oleksiy Zelenyuk', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <%= render 'layouts/main_menu', elements: [
            ['Portfolio',   portfolio_path  ],
            ['Employment',  employment_path ],
            ['Education',   education_path  ],
            ['Contacts',    contacts_path   ]
        ]
    %>
  </div><!-- /.container-fluid -->
</header>


<div class="container">

  <p id="notice"><%= notice %></p>

  <% if content_for? :header %>
      <header>
        <h1><%= yield(:header) %></h1>
      </header>
  <% end %>

  <% if content_for? :sidebar %>
      <div class="row">
        <div class="col-lg-6 content">
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="panel panel-info" style="height: 500px">
            <h3><%= yield :sidebar_header %></h3>
            <%= yield(:sidebar) %>
          </div>
        </div>
      </div>
  <% else %>
      <div class="content">
        <%= yield %>
      </div>
  <% end %>



</div>

</div>

<footer>
  <div class="container">
    &copy; Zelenyuk
  </div>
</footer>


</body>
</html>
