<!DOCTYPE html>
<html>
<head>
  <title><%= title 'Oleksiy Zelenyuk Home Page' %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="<%= @page_id %>" data-spy="scroll" data-target=".sidebar-menu">

<div class="cover">

<header class="global-header navbar navbar-default" role="navigation">
  <div class="contact-header">
    <div class="container">

      <ul class="info pull-left">
        <li><a href="#"><i class="fontello-icon-mail-1 contact"></i> oleksa@zelenyuk.com</a></li>
        <li><i class="fontello-icon-mobile contact"></i> +38 (050) 348 00 98</li>
      </ul>
      
      <ul class="pull-right social-icons">
        <li><a href="https://github.com/ozelen/"                target="_blank" class="icon-github-01"></a></li>
        <li><a href="https://www.linkedin.com/in/ozelen"        target="_blank" class="icon-linkedin"></a></li>
        <li><a href="https://www.facebook.com/ozelenyuk"        target="_blank" class="icon-facebook"></a></li>
        <li><a href="https://plus.google.com/+OleksaZelenyuk"   target="_blank" class="icon-google__x2B_"></a></li>
      </ul>

    </div>
  </div>
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Oleksiy <span class="zelenyuk">Zelenyuk</span>'.html_safe, root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <%= render 'layouts/main_menu', elements: [
            #['Portfolio',   portfolio_path  ],
            #['Employment',  employment_path ],
            #['Education',   education_path  ],
            ['Curriculum Vitae',    cv_path     ],
            ['Contacts',            contacts_path   ]
        ]
    %>
  </div><!-- /.container-fluid -->
</header>

  <% if content_for? :jumbo %>
      <div class="jumbo-cover">
        <section id="jumbo" class="jumbo container">
          <%= yield(:jumbo) %>

          <div class="portrait">
            <%= image_tag 'circled.png' %>
          </div>
        </section>
      </div>
  <% end %>

  <div class="container">
    <p id="notice"><%= notice %></p>

    <% if content_for? :header %>
        <header id="page-header">
          <h1><%= yield(:header) %></h1>
        </header>
    <% end %>

    <% if content_for? :sidebar %>
        <div class="row">
          <div class="col-lg-8 content">
            <%= yield %>
          </div>
          <div class="col-lg-4">
            <%= yield(:sidebar) %>
          </div>
        </div>
    <% else %>
        <div class="content">
          <%= yield %>
        </div>
    <% end %>
  </div>

</div>

<footer>
  <div class="container">
    &copy; Oleksiy Zelenyuk 2014
  </div>
</footer>


</body>
</html>
